@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower:100,200,300,400,500,600,700);
$primary: #ffba00;
$secondary: #F39D1C;
$almost-black: #14171E;
$lesser-black: #21262C;
$main-gray: #757575;
$dark-gray: #666666;
$light-gray: #95989A;
$lesser-gray: #DDDDDD;
$white-gray: #EEEEEE;
$almost-white: #FAFAFA;

$primary-blue: rgb(3, 102, 214);
$primary-dark-blue: #2565AE;
$border-blue: #6495ED;

$text-color: #7f888f;
$white-blue: #f3f5f8;

$ease-out: cubic-bezier(0.2,0.7,0.5,1);

@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'iconfont';  /* Project id 1333053 */
  src: url('./fonts/iconfont.woff2?t=1619773186659') format('woff2'),
       url('./fonts/iconfont.woff?t=1619773186659') format('woff'),
       url('./fonts/iconfont.ttf?t=1619773186659') format('truetype');
}

// @font-face {
//   font-family: 'iconfont';  /* project id 1333053 */
//   src: url('//at.alicdn.com/t/font_1333053_vrjncd6b38s.eot');
//   src: url('//at.alicdn.com/t/font_1333053_vrjncd6b38s.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1333053_t62bu0urw5.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1333053_t62bu0urw5.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1333053_t62bu0urw5.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1333053_vrjncd6b38s.svg#iconfont') format('svg');
// }
